body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./img/backgrout/backgrout.png'); /* Đảm bảo tên thư mục và tệp ảnh đúng */
  background-size: cover; /* Đảm bảo ảnh phủ toàn bộ màn hình */
  background-position: center; /* Căn giữa ảnh */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
  
  h1 {
    margin-bottom: 20px;
    font-size: 100px;
    color: green;
  }
  
  #button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  button {
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  button:hover img {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(255, 0, 0, 0.8);
  }
  
